@font-face {
  font-family: 'clock-font';
  src: url('./101ClockFace-7r4B.ttf');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(184, 208, 212);
}

.center-content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  text-align: center;
}

#main-table {
  background-color: rgb(50, 50, 50);
  color: white;
}

/* navbar css */
nav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #04AA6D;
  color: white;
}

#month-section {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  justify-content: space-around;
}

.monthly-cal {
  border: 1px solid black;
  border-collapse: separate;
}

.monthly-cal th {
  background-color: rgb(250, 83, 255);
  color: white;
}

.monthly-cal td {
  border-radius: 10px;
}

.monthly-cal td>p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: .9em;
}

.monthly-cal td>p:first-child {
  font-family: clock-font;
  font-size: 1.5em;
}

.canvas-charts {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .center-content {
    width: 100%;
  }
}
